<div class="container" id="i18_contribute">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="contribute">Call for Papers </span></h1>
        </div>
    </div>

<h1><strong>Information for Authors</strong></h1>
<p>

Please submit either a link to an existing paper or a 2-page extended abstract, following the IEEE conference style: http://ras.papercept.net/conferences/support/support.php </br>
We welcome also material already published.
</p>

<p>
All submissions will be peer-reviewed. Accepted papers will be presented during the workshop in a poster session. A number of selected papers will be presented as oral presentations or spotlight talks.
</p>

<p>
Send your PDF manuscript by email, with the subject including the prefix "[BTRS IROS 2019]", to the following email: michele.colledanchise[at]iit.it (replace [at] with @).
</p>

</br>

<h1><strong>Important Dates </strong></h1>
<p>September 30, 2019 - Submission Deadline </p>
<p>October 15, 2019 - Acceptance/Rejection Notification </p>
<p>November 4, 2019 - Full-day Workshop </p>
</div>
<br>
