<div class="container" id="i18_invited">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="projects.invited">Invited Speakers (To be confirmed)</span></h1>
        </div>
    </div>

<p>
<h1><strong> Simon Jones (University of the West of England) </strong> </h1>
</br>
<h2><strong>Onboard Evolution of Understandable Swarm Behaviours</strong></h2>
Designing the individual robot rules that give rise to emergent swarm behaviours is difficult. The common method of running evolutionary algorithms to automatically discover controllers in simulation suffers from a major disadvantage; the evolved controllers are often opaque and hard to understand. We use behaviour trees as the controller architecture because they are modular, hierarchical and human understandable. We evolve fit controllers in a swarm with high processing power, use automatic tools to simplify them, and then explain them, an important factor for safety and acceptance. We look at the design of a suitable behaviour tree architecture, applying the techniques of Genetic Programming to behaviour trees, the implementation of a fast parallel simulator and tree interpreter running on the GPUs of our swarm of robots, how large evolved trees can be automatically simplified to aid analysis, and then explain one of the evolved controllers. 
</p>
</br>
<p>
<h1><strong> Francesco Rovida (Aalborg University) </strong> </h1>
</p>
</br>
<p>
<h1><strong> Enrique Coronado (Tokyo University of Agriculture and Technology) </strong> </h1>
</p>
</br>
<p>
<h1><strong> Ramviyas Nattanmai Parasuraman (University of Georgia) </strong> </h1>
</p>
</br>
<p>
<h1><strong> Vincent Berenz (Max Planck Institute for Intelligent Systems) </strong> </h1>
</p>

</div>
<br>
