<div class="container" id="i18_invited">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="projects.invited">Invited Speakers</span></h1>
        </div>
    </div>


<p>
<h1><strong> Francesco Rovida (Aalborg University) </strong> </h1>
<h2><strong>Talk Title</strong></h2>
Talk Abstract
</p>

<h1><strong> Enrique Coronado (Tokyo University of Agriculture and Technology) </strong> </h1>
<h2><strong>Talk Title</strong></h2>
Talk Abstract
</p>
<h1><strong> Simon Jones (University of the West of England) </strong> </h1>
<h2><strong>Talk Title</strong></h2>
Talk Abstract
</p>
<h1><strong> Ramviyas Nattanmai Parasuraman (University of Georgia) </strong> </h1>
<h2><strong>Talk Title</strong></h2>
Talk Abstract
</p>

<h1><strong> Vincent Berenz (Tentative) (Max Planck Institute for Intelligent Systems) </strong> </h1>
<h2><strong>Talk Title</strong></h2>
Talk Abstract
</p>




</div>
<br>
