<div class="container" id="i18_invited">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="projects.invited">Invited Speakers</span></h1>
        </div>
    </div>

<p>
<h1><strong> Simon Jones (University of the West of England) </strong> </h1>
	<p style = " position: fixed; top: 50%; left: -50%;">
	<h2><strong>Onboard Evolution of Understandable Swarm Behaviours</strong></h2>
		<p align="left" style= "cmax-width:600px; word-wrap:break-word;">
		Designing the individual robot rules that give rise to emergent swarm behaviours is difficult. <br>
		The common method of running evolutionary algorithms to automatically discover controllers <br>
		in simulation suffers from a major disadvantage; the evolved controllers are often opaque <br>
		and hard to understand. We use behaviour trees as the controller architecture because they <br>
		are modular, hierarchical and human understandable. We evolve fit controllers in a swarm with <br>
		high processing power, use automatic tools to simplify them, and then explain them, an important <br>
		factor for safety and acceptance. We look at the design of a suitable behaviour tree architecture, <br> 
		applying the techniques of Genetic Programming to behaviour trees, the implementation of a fast <br>
		 parallel simulator and tree interpreter running on the GPUs of our swarm of robots, how large <br>
		 evolved trees can be automatically simplified to aid analysis, and then explain one of the <br>
		 evolved controllers. 
		</p>

	</p>
</p>

<p>
</br>
<h1><strong> Vincent Berenz (Max Planck Institute for Intelligent Systems) </strong> </h1>
	<p style = " position: fixed; top: 50%; left: -50%;">
	<h2><strong>Behavioral Reactivity: Using Reactive Programming to Create Behavior Trees</strong></h2>
		<p align="left" style= "cmax-width:400px; word-wrap:break-word;">
We will present how to apply reactive programming to the design of robot behavior tree. <br> 
Using this paradigm, the user defines branches and then associate them with rules of activation. <br>
Contrary to other approaches, the behavior tree is not traversed at runtime. Rather the branches <br>
compete continuously one with another for activation. And because branches can be attached to <br>
targets (discretized high level sensor entities), the activation of a branch will correspond to <br> 
the activation of a specific set of sensory motor couplings that will shape the behavior of the robot.<br>
As various videos will show, this programming paradigm supports rich and complex behaviors <br> 
characterized by high behavioral reactivity. Playful, our open-source reactive programming <br>
interpreter supporting behavior trees, will be introduced. Our more recent work exploring <br> 
the automated generation of reactive programming scripts from human demonstration will also be discussed.
		</p>
	</p>
</p>


</br>
<p>
</br>
<h1><strong> Chris Paxton (NVIDIA) </strong> </h1>
	<p style = " position: fixed; top: 50%; left: -50%;">
	<h2><strong>Building Reactive Task Plans for Real-World Robot Applications</strong></h2>
		<p align="left" style= "cmax-width:400px; word-wrap:break-word;">
                        Robots are increasingly an important part of our world, from working in factories and hospitals <br>
			to driving on city streets. As robots move into more unstructured environments such as homes, <br>
			however, we must be able to create complex, reactive task plans that can deal with stochastic <br>
			actions, unreliable sensors, and that above all are intuitive and easy to build. To this end, <br>
			we created the Behavior Tree-based CoSTAR system -- which allows novice end users to create <br>
			task plans for industrial robot task plans, shown in a 35-person user study to be highly <br>
			user friendly and offer a useful set of tools for creating task plans. <br>
			We also describe a variant on Behavior Trees, the Robust Logical-Dynamical System (RLDS), <br>
			which supports symbolic task planning and guarantees on performance. Finally, we describe a <br>
			manipulation case study on an example of an unstructured household manipulation task. <br>
		</p>
	</p>
</p>
</br>

<p>
<h1><strong> Francesco Rovida (Aalborg University) </strong> </h1>
	<p style = " position: fixed; top: 50%; left: -50%;">
	<h2><strong>Application of Behavior trees to Industrial Robots Task Sesign</strong></h2>
		<p align="left" style= "cmax-width:400px; word-wrap:break-word;">
			Reconfigure collaborative robots on new tasks quickly and efficiently is today one of the great <br>
			challenges for manufacturing industries. In this respect, behavior trees already proved to be a great <br>
			tool to design complex coordination schemes with important required characteristics, such as high <br>
			modularity, predictability and reactivity. Nevertheless, BTs are also affected by some limitations <br>
			that are preventing their widespread adoption. For example, being a state-less logic in their <br>
			classical form, BTs have more problems representing sequences w.r.t. other approaches such as e.g. <br>
			FSMs. We identified this and other issues while applying BTs to industrial robots task design. <br>
			In this presentation we will discuss our experience and look at the solutions implemented to make the<br>
			 classical BT a more complete task programming framework for industrial applications. 
		</p>
	</p>

</p>
</br>

<p>
<h1><strong> Enrique Coronado (Tokyo University of Agriculture and Technology) </strong> </h1>
	<p style = " position: fixed; top: 50%; left: -50%;">
	<h2><strong>Empowering End-Users with Behavior Trees, Development of Human-Robot Applications Performing "in the Wild"</strong></h2>
		<p align="left" style= "cmax-width:400px; word-wrap:break-word;">
		In many cases, the creation of robot applications performed “in the wild” (i.e., moving from <br>
		the laboratory to natural and in-situ scenarios) require to include end-users (e.g. therapists,<br>
		 psychologies, teachers, and artists) for their suitable design and testing. In order to support <br>
		 end-user goals, we developed RIZE (Robot Interface from Zero Experience) a cross-platform End-User <br>
		 Development tool back-ended by Component-Based Distributed Robot Frameworks.  This interface <br>
		 enables intuitive robot programming by the use of block-based Visual Programming Languages,<br>
		  which translate the user code to Behavior Trees for its posterior execution. <br>
		  In this presentation, we will show how this interface has been used in the development <br>
		  of short-term and long-term Human-Robot Interaction applications performed “in the wild”. <br>

</p>
</p>
</br>

<p>
<h1><strong> Petter Ögren (Kungliga Tekniska H&ouml;gskolan) </strong> </h1>
	<p style = " position: fixed; top: 50%; left: -50%;">
	<h2><strong>Combining Reinforcement Learning with Behavior Trees</strong></h2>
		<p align="left" style= "cmax-width:400px; word-wrap:break-word;">
		Reinforcement Learning (RL) has received a lot of attention in recent years for its ability <br>
		to generate efficient controllers for complex problems without the need for a system model. <br>
		However, the resulting designs often lack both modularity and transparency. It is hard to replace, <br>
		remove or add different components of an RL policy, and it is hard to know why a given action is taken, <br>
		beyond the fact that it is believed to maximize the expected long term reward. In this talk, we <br>
		explore how a combination of RL and BTs can provide the best of both worlds. The modularity and <br>
		transparency of BTs with the model free performance of RL. 
</p>
</p>
</div>
<br>
