<div class="container" id="i18_oral">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="projects.oral">Oral Presentations</span></h1>
        </div>
    </div>

<p>
<h1><strong> Evgenii Safronov (Sberbank Robotics Laboratory) </strong> </h1>
	<p style = " position: fixed; top: 50%; left: -50%;">
	<h2><strong>Node Templates to improve Reusability and Modularity of
Behavior Trees</strong></h2>
		<p align="left" style= "cmax-width:600px; word-wrap:break-word;">

Behavior Trees (BTs) got the robotics society attention <br>
not least thanks to their modularity and reusability. The <br>
subtrees of BTs could be treated as separate behaviors and <br>
therefore reused. We address the following research question: do <br>
we exploit the full power of BT on these properties? We suggest <br>
to generalise the idea of subtree reuse to “node templates” <br>
concept, which allows to represent an arbitrary nodes collection. <br>
In addition, previously hardcoded behaviors such as Node* and <br>
many Decorator nodes could be implemented in a memory-based <br>
BT by node templates. 
		</p>

	</p>
</p>

</br>
<p>
<h1><strong> Kevin French (The Robotics Institute) </strong> </h1>
	<p style = " position: fixed; top: 50%; left: -50%;">
	<h2><strong>Behavioral Reactivity: Using Reactive Programming to Create Behavior Trees</strong></h2>
		<p align="left" style= "cmax-width:400px; word-wrap:break-word;">
Robotic Learning from Demonstration (LfD) allows anyone, not just experts, to program a robot for an <br>
arbitrary task. Many LfD methods focus on low level primitive actions such as manipulator trajectories.  <br>
Complex multistep task with many primitive actions must be learned from<br>
demonstration if LfD is to encompass the full range of task a <br>
user may desire. Existing methods represent the high level task<br>
in various forms including, finite state machines, decision trees,<br>
formal logic, among others. Behavior trees are proposed as an<br>
alternative representation of high level task. Behavior trees are<br>
an execution model for the control of a robot designed for real<br>
time execution, modularity, and, consequently, transparency.<br>
Real time execution allows the robot to reactively perform<br>
the task. Modularity allows the reuse of learned primitive<br>
actions and high level task in new situations, speeding up<br>
the process of learning in new scenarios. Transparency allows<br>
users to understand and interactively modify the learned model.<br>
Behavior trees are used to represent high level tasks by building<br>
on the relationship it has with decision trees. We demonstrate<br>
a human teaching our Fetch robot a household cleaning task.
		</p>
	</p>
</p>


</br>
<p>
<h1><strong> Menglu Lan  (National University of Singapore) </strong> </h1>
	<p style = " position: fixed; top: 50%; left: -50%;">
	<h2><strong>A Modular Mission Management System for Micro Aerial Vehicle</strong></h2>
		<p align="left" style= "cmax-width:400px; word-wrap:break-word;">
In this paper, we present a modular mission<br>
management system for micro aerial vehicles (MAVs), with<br>
a successful application in real environments with the actual<br>
platform. We use the behaviour tree as the main underlying<br>
structure to represent and further execute the complex mission<br>
plan. The proposed system is highly modular, allowing the<br>
user to specify different missions by simply grouping various<br>
mission-independent sub-behaviours together. The paper also<br>
describes a set of commonly used behaviours for MAVs. The<br>
proposed system has been applied to the 2017 International<br>
Micro Air Vehicle Competition (IMAV 2017) and has helped<br>
the team win both indoor and outdoor championships.<br>
		</p>
	</p>
</p>
</br>


<p>
<h1><strong> Ru-Tai Soong (National Chengchi University) </strong> </h1>
	<p style = " position: fixed; top: 50%; left: -50%;">
	<h2><strong>Real-Time Autonomous UAV Task Navigation using Behavior Tree</strong></h2>
		<p align="left" style= "cmax-width:400px; word-wrap:break-word;">
			Reconfigure collaborative robots on new tasks quickly and efficiently is today one of the great <br>
			challenges for manufacturing industries. In this respect, behavior trees already proved to be a great <br>
			tool to design complex coordination schemes with important required characteristics, such as high <br>
			modularity, predictability and reactivity. Nevertheless, BTs are also affected by some limitations <br>
			that are preventing their widespread adoption. For example, being a state-less logic in their <br>
			classical form, BTs have more problems representing sequences w.r.t. other approaches such as e.g. <br>
			FSMs. We identified this and other issues while applying BTs to industrial robots task design. <br>
			In this presentation we will discuss our experience and look at the solutions implemented to make the<br>
			 classical BT a more complete task programming framework for industrial applications. 
		</p>
	</p>

</p>
</br>
