<div class="container" id="i18_oral">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="projects.oral">Oral Presentations</span></h1>
        </div>
    </div>

<p>
<h1><strong> Evgenii Safronov (Sberbank Robotics Laboratory) </strong> </h1>
	<p style = " position: fixed; top: 50%; left: -50%;">
	<h2><strong>Node Templates to improve Reusability and Modularity of
Behavior Trees</strong></h2>
		<p align="left" style= "cmax-width:600px; word-wrap:break-word;">

Behavior Trees (BTs) got the robotics society attention not least thanks to their 
 modularity and reusability. The subtrees of BTs could be treated as separate 
 behaviors and therefore reused. We address the following research question: do 
we exploit the full power of BT on these properties? We suggest to generalise
 the idea of subtree reuse to “node templates” concept, which allows to represent 
 an arbitrary nodes collection. In addition, previously  hardcoded behaviors such
  as Node* and many Decorator nodes could be implemented in a memory-based BT by 
  node templates. 
		</p>

	</p>
</p>

</br>
<p>
<h1><strong> Kevin French (The Robotics Institute) </strong> </h1>
	<p style = " position: fixed; top: 50%; left: -50%;">
	<h2><strong>Behavioral Reactivity: Using Reactive Programming to Create Behavior Trees</strong></h2>
		<p align="left" style= "cmax-width:400px; word-wrap:break-word;">
Robotic Learning from Demonstration (LfD) allows anyone, not just experts, to program a 
robot for an arbitrary task. Many LfD methods focus on low level primitive actions such as  
manipulator trajectories. Complex multistep task with many primitive actions must be learned 
from demonstration if LfD is to encompass the full range of task a user may desire. Existing  
methods represent the high level task in various forms including, finite state machines,  
decision trees, formal logic, among others. Behavior trees are proposed as an alternative  
representation of high level task. Behavior trees are an execution model for the control of  
a robot designed for real time execution, modularity, and, consequently, transparency.  
Real time execution allows the robot to reactively perform the task. Modularity allows the  
reuse of learned primitive actions and high level task in new situations, speeding up the 
process of learning in new scenarios. Transparency allows users to understand and interactively   
modify the learned model. Behavior trees are used to represent high level tasks by building on  
the relationship it has with decision trees. We demonstrate a human teaching our Fetch robot a
 household cleaning task.
		</p>
	</p>
</p>


</br>
<p>
<h1><strong> Menglu Lan  (National University of Singapore) </strong> </h1>
	<p style = " position: fixed; top: 50%; left: -50%;">
	<h2><strong>A Modular Mission Management System for Micro Aerial Vehicle</strong></h2>
		<p align="left" style= "cmax-width:200px; word-wrap:break-word;">
In this paper, we present a modular mission
management system for micro aerial vehicles (MAVs), with
a successful application in real environments with the actual
platform. We use the behaviour tree as the main underlying
structure to represent and further execute the complex mission
plan. The proposed system is highly modular, allowing the
user to specify different missions by simply grouping various
mission-independent sub-behaviours together. The paper also
describes a set of commonly used behaviours for MAVs. The
proposed system has been applied to the 2017 International
Micro Air Vehicle Competition (IMAV 2017) and has helped
the team win both indoor and outdoor championships.<br>
		</p>
	</p>
</p>
</br>


<p>
<h1><strong> Ru-Tai Soong (National Chengchi University) </strong> </h1>
	<p style = " position: fixed; top: 50%; left: -50%;">
	<h2><strong>Real-Time Autonomous UAV Task Navigation using Behavior Tree</strong></h2>
		<p align="left" style= "cmax-width:400px; word-wrap:break-word;">
			Reconfigure collaborative robots on new tasks quickly and efficiently is today one of the great 
			challenges for manufacturing industries. In this respect, behavior trees already proved to be a great
			tool to design complex coordination schemes with important required characteristics, such as high
			modularity, predictability and reactivity. Nevertheless, BTs are also affected by some limitations 
			that are preventing their widespread adoption. For example, being a state-less logic in their 
			classical form, BTs have more problems representing sequences w.r.t. other approaches such as e.g. 
			FSMs. We identified this and other issues while applying BTs to industrial robots task design. 
			In this presentation we will discuss our experience and look at the solutions implemented to make the
			 classical BT a more complete task programming framework for industrial applications. 
		</p>
	</p>

</p>
</br>
