<div class="container" id="i18_link">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="link.link">Organizers</span></h1>
        </div>
    </div>



<div id="mainDiv" align="center" style= "margin-left:auto; margin-right:auto;">
	<div id="mainDiv0"  style= "margin-left:auto; margin-right:auto;  float: left;"> 
		<img style= "text-align: center;" src="https://miccol.github.io/images/Michele-Colledanchise_12783-624x624.jpg" alt="" width="200" height="200" />
		</br>
		<p style= "text-align: center; max-width: 350px"> Michele Colledanchise. </br> Istituto Italiano di Tecnologia (IIT). Genoa, Italy </p>
	</div>
	<div id="mainDiv1"  style= "margin-left:auto; margin-right:auto;  float: left;">
		<img style= "text-align: center;" src="https://avatars0.githubusercontent.com/u/1403333?s=460&amp;v=4" alt="" width="200" height="200" />
		</br>
		<p style= "text-align: center; max-width: 350px"> Lorenzo Natale. </br> Istituto Italiano di Tecnologia (IIT). Genoa, Italy </p>
	</div>
	
		<div id="mainDiv1"  style= "margin-left:auto; margin-right:auto;  float: left;">
		<img style= "text-align: center;" src="https://www.kth.se/api/files/v1/avatar/image/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJmaWxlIjp7ImlkIjoiNTgzNmZlMWYzOGZiYWJhNjJiNmZjZDdmIiwidHlwZSI6ImF2YXRhciIsInVzZXJuYW1lIjoicGV0dGVyIn0sInN1YiI6Il9hbm9ueW1vdXMiLCJpc0FkbWluIjpmYWxzZSwiaXNNb2RlcmF0b3IiOmZhbHNlLCJpYXQiOjE1NTY2MzgyMjZ9.eo4KkS903zWy-cPqaZ0Ip1AQuliZygLGyPpaocKw3zA?size=data" alt="" width="200" height="200" alt="" width="200" height="200" />
		</br>
		<p style= "text-align: center; max-width: 350px"> Petter &Ouml;gren. </br> Kungliga Tekniska H&ouml;gskolan (KTH). Stockholm, Sweden </p>
	</div>
</div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p id="jalpc_site_pv"><strong>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</strong></p>
        </div>
    </div>
</div>
