<div class="container" id="i18_overview">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="overview">Overview</span></h1>
        </div>
    </div>

<p> The workshop  will be held on November 4, 2019, in The Venetian Macao Resort Hotel, Macau, China in the context of the IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS), one of the largest and highest impact robotics research conferences worldwide.</p>
<p>The workshop will be the first behavior tree-related workshop within the robotics community. We aim to gather all the outstanding researchers interested in BTs to share ideas and lesson learned. For that reason, the workshop format will include invited talks as well as short spotlight presentations followed by interactive sessions.</p>
<h1><strong>Objectives</strong></h1>

<p>Behavior Trees is a new powerful tool for task switching and decision making that is receiving an increasing amount of attention in robotics. Recent research is beginning to explore areas such as learning, planning, and control in domains ranging from Micro Air Vehicles to Assembly robotics. </p>
<p>The objectives of this workshop are as follows:
<ul>
  <li>For the first time, gather everyone within the robotics community that is interested in Behavior Trees at the same place, and give them a chance to discuss and interact.</li>
  <li>Provide attendees with an updated picture of where behavior tree research within robotics stands today. </li>
</ul>  
</p>
<p>
Behavior Trees were developed in the video game industry as a tool to achieve modular, reusable, and flexible behaviors for Non-Player Characters (NPCs), and are now an established tool to the point that BTs are integral parts of game AI textbooks as well as major game engines such as Unity3d, and the Unreal Engine.
In the last decade, Behavior Trees have received an increasing amount of attention in robotic as well, with applications in both academia and industry. The main advantages of Behavior Trees with respect to conventional execution architectures, like FSMs, are their ability to combine reactivity with deliberation in a very modular way.
</p>

<h1><strong>Topics of interest</strong></h1>
<p>The following list provides a set of topics (keywords) addressed in the workshop.</p>
<ul>
<li style = "color: #676a6c">Behavior Design</li>
<li>System Integration</li>
<li>Execution Architecture</li>
<li>AI Decision Making </li>
<li>Task Planning</li>
<li>Formal Methods for Robotics</li>
<li>Resource-aware Robot Programming</li>
<li>Behavior-Based Systems</li>
<li>Autonomous Agents</li>
<li>Planning, Scheduling, and Coordination</li>
</ul>
<p>&nbsp;</p>
    

</div>
<br>
