<div class="container" id="i18_program">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="program.program">Workshop Program</span></h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
        </div>
    </div>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<table style="width:100%">
  <tr>
    <th>Time</th>
    <th>Activity</th> 

  </tr>
  <tr>
    <td>09:00 - 09:15 </td>
    <td>Welcoming Words</td> 
  </tr>
    
      <tr>
    <td>09:15 - 09:45 </td>
    <td>Invited Talk by Simon Jones: <i> Onboard Evolution of Understandable Swarm Behaviours </i></td> 
  </tr>
  
  <tr>
    <td>09:45 - 10:15 </td>
    <td>Oral Presentation: <br>  <i> Node Templates to improve Reusability and Modularity of Behavior Trees </i> - E. Safronov. </td> 
  </tr>
  
    <tr>
    <td>10:15 - 10:45 </td>
    <td>Oral Presentation: <br><i> Learning Behavior Trees From Demonstration </i> - K. French et al.</td> 
  </tr>
 
  <tr>
    <td>10:45 - 11:15 </td>
    <td>Coffee break</td> 

  <tr>
    <td>11:15 - 11:45 </td>
    <td>Invited Talk by Vincent Berenz <i> Behavioral Reactivity: Using Reactive Programming to Create Behavior Trees
 </i></td> 
  </tr>

  </tr>
    <tr>
    <td>11:45 - 12:15 </td>
    <td>Invited Talk by Chris Paxton <i> Building Reactive Task Plans for Real-World Robot Applications
 </i> </td> 
  </tr>

   <tr>
    <td>12:15 - 12:45 </td>
    <td>Invited Talk by Francesco Rovida <i>Application of Behavior trees to Industrial Robots Task Design
  </i> </td> 
  </tr>
  <tr>
    <td>12:45 - 14:15</td>
    <td>Lunch Break</td> 
  </tr>
  
  <tr>
    <td>14:15 - 14:45 </td>
    <td>Oral Presentation: <br><i> A Modular Mission Management System for Micro Aerial Vehicles</i> - M. Lan et al. </td> 
  </tr>
  
  <tr>
    <td>14:45 - 15:15 </td>
    <td>Oral Presentation: <br><i> Real-Time Autonomous UAV Task Navigation using Behavior Tree  </i> - R. Soong et al. </td> 
  </tr>
  
  <tr>
    <td>15:15 - 15:45 </td>
    <td>Invited Talk by Enrique Coronado <i> Empowering End-Users with Behavior Trees, Development of Human-Robot Applications Performing "in the Wild"
 </i> </td> 
  </tr>
  
   <tr>
    <td>15:45 - 16:15 </td>
    <td>Coffee Break</td> 
  </tr>
  
  <tr>
    <td>16:15 - 16:45 </td>
    <td>Invited Talk by Petter Ögren <i> Combining Reinforcement Learning with Behavior Trees </i> </td> 
  </tr>
  
  <tr>
    <td>16:45 - 18:00 </td>
    <td>Open Discussion</td> 
  </tr>
</table>


