<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        

    </ol>
    <div class="carousel-inner" role="listbox">

        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                </div>
                <div class="carousel-image wow zoomIn">
                    <!-- <img src="static/img/landing/laptop.png" alt="laptop"/> -->
                </div>
            </div>
            <!-- Set background for slide in css -->

			
			{% if (navigator.userAgent.indexOf('IEMobile')) %}
    			<div
            class="header-back"
            style="background-image: url({{ '/static/assets/img/' | prepend: site.baseurl }}{{ site.data.index.mobile_banners[0].src }});"
            title="{{ site.data.index.banners[0].title }}">
            </div>
            
			
			{%else%}
                <div
            class="header-back"
            style="background-image: url({{ '/static/assets/img/' | prepend: site.baseurl }}{{ site.data.index.banners[0].src }});"
            title="{{ site.data.index.mobile_banners[0].title }}">
            </div>

			{% endif %}
			

			
			
        </div>

        {% for banner in site.data.index.banners offset:1 %}
        <div class="item">
            <div class="container">
                <div class="carousel-caption">
                </div>
                <div class="carousel-image wow zoomIn">
                    <!-- <img src="static/img/landing/laptop.png" alt="laptop"/> -->
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back" style="background-image: url({{ "/static/assets/img/"  | prepend: site.baseurl }}{{ banner.src }});" title="{{ banner.title }}"></div>
        </div>
        {% endfor %}

    </div>

</div>